<div class = "main">
	<div class = "about">
		<div class="about-top about-content">
			<h2>ユウマシンとは</h2>
		    <div class="about-img">
			    <img src="assets/img_gallery02.jpg">
		    </div>
	        <div class="about-word">
			 <p>混迷の時代を切り開くべく、2014年結成された</p>
			 <p>ミズノユウマ、タケウチシンのツインユニット</p>
			 <p>様々な創作活動を日々行なっている。</p>
		    </div>
	    </div>

		<div class="history  about-content">
			<h2 class="head">活動歴</h2>
			<p>2014.3 ユニット結成</p>
			<p>2014.5 岐阜県多治見市文化会館にて初ライブ</p>
			<p>2014.5 岐阜県多治見市文化会館にて初ライブ</p>
			<p>2014.5 岐阜県多治見市文化会館にて初ライブ</p>
			<p>2014.5 岐阜県多治見市文化会館にて初ライブ</p>
			<p>2014.5 岐阜県多治見市文化会館にて初ライブ</p>
		</div>

		<div class="members about-content">
			<h2 class="head">メンバー</h2>
			<div class="member">
				<h2 class="name">ミズノユウマ</h2>
				<img src="assets/img_gallery02.jpg" class="member-photo">
				<p>aaaaaaaaaaaaaa</p>
				<p>bbbbbbbbbbbbbb</p>
				<p>cccccccccccccc</p>
				<a href="aaa">instagram</a>
			</div>
			<div class="member">
				<h2 class="name">タケウチシン</h2>
				<img src="assets/img_gallery02.jpg" class="member-photo">
				<p>岐阜県を愛して止まない</p>
				<p>トレードマークは焼きそばのような天パ</p>
				<p>自称、歩くセンス</p>
				<p>デザイン担当</p>
				<a href="https://www.instagram.com/shitanken/">instagram</a>
			</div>
		</div>
		<a href="/" class="home-back">←HOME</a>
	</div>
</div>