<div class = "main">
	<div class = "about">
		<div class="about-top about-content">
			<h2>ユウマシンとは</h2>
		    <div class="about-img">
			    <img src="assets/img_gallery02-63131d4435e39090559cfde2c365ffb4f395c9cff0c7865d24fefaf9a4c39957.jpg">
		    </div>
	        <div class="about-word">
			 <p>混迷の時代を切り開くべく、2016年結成された</p>
			 <p>nomizuno、タケウチシンのツインユニット</p>
			 <p>様々な創作活動を日々行なっている。</p>
		    </div>
	    </div>

		<h2 class="head">活動歴</h2>
		<div class="history  about-content">
			<p>2016.1 ユニット結成</p>
			<p>2016.3 岐阜県多治見市文化会館にて初ライブ</p>
		</div>

		<h2 class="head">メンバー</h2>
		<div class="members about-content">
			<div class="member">
				<h2 class="name">nomizuno</h2>
				<img src="assets/background-ee31fc06712fe26417545b398464bbc2b0029df0228c966f6b5f132bb715d433.jpg" class="member-photo">
				<p>岐阜県に産み落とされた平成の革命児</p>
				<p>インスタグラマーになるべく自作イラストを投稿していたが</br>
				<p>ネットワークビジネスみたいな人の”いいね”しか付かなかった</p>
				<p>お茶出し担当</p>
				<a href="https://www.instagram.com/nomizuno/" class="instagram"><i class="fab fa-instagram"></i>instagram</a>
			</div>
			<div class="member">
				<h2 class="name">タケウチシン</h2>
				<img src="assets/background-ee31fc06712fe26417545b398464bbc2b0029df0228c966f6b5f132bb715d433.jpg" class="member-photo">
				<p>岐阜県を愛して止まないが、住みたくはないのが本音</p>
				<p>歩くセンスと自称し、ついた名は『ファッションモンスター』</p>
				<p>おしゃれを求めて、今日も街を彷徨う</p>
				<p>デザイン担当</p>
				<a href="https://www.instagram.com/shitanken/" class="instagram"><i class="fab fa-instagram"></i>instagram</a>
			</div>
		</div>
		<a href="/" class="link top-back"><i class="fas fa-arrow-alt-circle-left"></i>HOME</a>
	</div>
</div>
