<div id="loader-bg">
  <div id="loader">
    <img src="assets/Loading-6fbe05b7c5cbd77dd8e98cd94130a2f813244b9fd304c0fe498c554ede89b34a.gif" width="350" alt="Now Loading..." />
  </div>
</div>

<div class="opening"><img src="assets/yumashin_logo-34a065d4e0192491714277fd43e9bc9653d800cbdc354832434f92ef3f224452.png"></div>

<div class = "main about">

		<div class="about-top">
			<h2>About us</h2>
		    <div class="about-img">
			    <img src="assets/about_top-967754abb4f7b700c05dd330c2cb29a9e7d27431ae5f5c7b0de0bf4ad43ebbbb.jpg">
		    </div>
<<<<<<< HEAD
		</div>
=======
        <div class="about-word">
          <h2>Vision</h2>

           <h3>【起こせ、そよ風レベルの革命を。】</h3>
           <p>洗濯物を揺らすくらいの、あの子の髪がなびくくらいの</p>
           <p>小さな変化を僕らは起こします。</p>
           <p>小さな小さなそよ風はやがて上空へと舞い上がり</p>
           <p>地球の裏側では大きな大きな竜巻になるかもしれません。</p>
           <p>洗濯物を取り込むのは今のうちです。</p>
      </div>
	        <div class="about-word">
            <h2>Mission</h2>
>>>>>>> 553da3c776529ecbe9c7e0ebdf6c501d622787a3

		<h2 class="head">Mission</h2>
	    <div class="about-word about-content">
      		<h3>【あなたに「気づき」を与える】</h3>
      		<br>
      		<p>たぶん、世界って本当はもっと面白いです。</p>
        	<p>たぶん、あなたの幸せはもっと別のところにあります。</p>
        	<br>
      		<p>溢れる情報、不変のようにも感じる<br>社会の”当たり前”に飲み込まれて</p>
        	<p>僕たちは自分の頭で考えることが<br>苦手になっているのではないでしょうか。</p>
        	<br>
        	<p>そんなあなたにハッとした気づきを与え、</p>
        	<p>無責任に頭の中をかき乱すことが僕らのミッションです。</p>
		</div>

		<h2 class="head">活動歴</h2>
		<div class="history  about-content">
		<p>2016.1 ユニット結成</p>
		<p>2016.3 岐阜県多治見市文化会館にて初ライブ</p>
		<div class="video">
		    <iframe  src="https://www.youtube.com/embed/tTNSWMtyulY?&autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		    </iframe>
		</div>
		<h2>- ライブ風景 2016.3 -</h2>
		</div>

		<h2 class="head">メンバー</h2>
		<div class="members about-content">
			<div class="PC-header">
			 <h2 class="PC-head">メンバー</h2>
			</div>
			<div class="member yuma">
				<img src="assets/about-nomizuno2-f62af62c9ed359ddcff94a0fa5cd2caae514c053d7bdad7783421714b5934a82.jpg" class="member-photo">
				<div class="member-capture">
				<h2 class="name animated pulse infinite">nomizuno</h2>
				<p>岐阜県に産み落とされた平成の革命児</p>
				<p>表現界に革命を起こすべくインスタにイラストを投稿していたが</br>
				<p>ネットワークビジネスみたいな人のいいねしか付かなかった</p>
				<p>革命って難しい。</p>
				<a href="https://www.instagram.com/nomizuno/" class="instagram" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
				</div>
			</div>

			<div class="member shin">
				<img src="assets/about_takeuchi-6899751daa9624c03fb38e131c0e19085f2f1001e5ecfe7323d4103b7eaf7b56.jpg" class="member-photo">
				<div class="member-capture">
				<h2 class="name animated pulse infinite">たけうち工務店</h2>
				<p>岐阜県を愛して止まないが、住みたくはないのが本音</p>
				<p>歩くセンスと自称し、ついた名は『ファッションモンスター』</p>
				<p>おしゃれを求めて、今日も街を彷徨う</p>
				<p>デザイン担当</p>
				<a href="https://www.instagram.com/shitanken/" class="instagram" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
			</div>
			</div>
		</div>
		<a href="/" class="link top-back"><i class="fas fa-arrow-alt-circle-left"></i>HOME</a>
</div>
