<div class = "main">
	<div class = "about">
		<div class="about-top about-content">
			<h2>ユウマシンとは</h2>
		    <div class="about-img">
			    <img src="assets/about_top-967754abb4f7b700c05dd330c2cb29a9e7d27431ae5f5c7b0de0bf4ad43ebbbb.jpg">
		    </div>
	        <div class="about-word">
			 <p>混迷の時代を切り開くべく、2016年結成された</p>
			 <p>nomizuno、タケウチシンのツインユニット</p>
			 <p>様々な創作活動を日々行なっている。</p>
		    </div>
	    </div>

		<h2 class="head">活動歴</h2>
		<div class="history  about-content">
			<p>2016.1 ユニット結成</p>
			<p>2016.3 岐阜県多治見市文化会館にて初ライブ</p>
			<div class="video">
		    <iframe  src="https://www.youtube.com/embed/tTNSWMtyulY?&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		    </div>
		    <h2>- ライブ風景 2016.3 -</h2>
		</div>

		<h2 class="head">メンバー</h2>
		<div class="members about-content">
			<div class="member">
				<h2 class="name">nomizuno</h2>
				<img src="assets/about-nomizuno2-f62af62c9ed359ddcff94a0fa5cd2caae514c053d7bdad7783421714b5934a82.jpg" class="member-photo">
				<p>岐阜県に産み落とされた平成の革命児</p>
				<p>表現の世界に革命を起こすべくインスタに自作イラストを投稿していたが</br>
				<p>ネットワークビジネスみたいな人のいいねしか付かなかった</p>
				<p>革命って難しい。</p>
				<a href="https://www.instagram.com/nomizuno/" class="instagram" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
			</div>
			<div class="member">
				<h2 class="name">タケウチシン</h2>
				<img src="assets/about_takeuchi-6899751daa9624c03fb38e131c0e19085f2f1001e5ecfe7323d4103b7eaf7b56.jpg" class="member-photo">
				<p>岐阜県を愛して止まないが、住みたくはないのが本音</p>
				<p>歩くセンスと自称し、ついた名は『ファッションモンスター』</p>
				<p>おしゃれを求めて、今日も街を彷徨う</p>
				<p>デザイン担当</p>
				<a href="https://www.instagram.com/shitanken/" class="instagram" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
			</div>
		</div>
		<a href="/" class="link top-back"><i class="fas fa-arrow-alt-circle-left"></i>HOME</a>
	</div>
</div>
