<div class = "main">
	
	<div class = "contact">
		<h2 class="head">送信完了！</h2>
		<p>メッセージありがとうございます！</p>
		<p>返信先は書いて頂けましたでしょうか？</p>
		<p>確認次第、すぐに返信させていただきます。</p>
		<p>少々お待ちください！</p>
		<a href="/">←ホーム</a>	
	</div>
	
</div>