<div class="main top-main"> 
  <div class="top-wrapper">
		<h1>ユウマシン</h1>
  </div>
		<div class = "about" >
			<h2 class = "head">ユウマシンとは</h2>
			<p>ニヒリズムをぶち壊すべく現れた</p>
			<p>平成最後のクリエイティブユニット</p>
			<h2>ー『恥じらいのないパンチラに価値はあるのかい？』</h2>
			<a href="about">→and more</a>
		</div>

		<div class = "gallery">
			<h2 class = "head">ギャラリー</h2>
			<p>New</p>
			<p>2018.3.10 ミズノユウマ：ポエミー爺さんの呟き　アップロード</p>
			<p>2018.3.10 ミズノユウマ：ポエミー爺さんの呟き　アップロード</p>
			<p>2018.3.10 ミズノユウマ：ポエミー爺さんの呟き　アップロード</p>
			<a href="works">→WORKs</a>
		</div>

		<div class = "blog">
			<h2 class = "head">ブログ</h2>
			<p>2018.3.10 ミズノユウマ：昨日はワンナイトでした</p>
			<p>2018.3.10 ミズノユウマ：昨日はワンナイトでした</p>
			<p>2018.3.10 ミズノユウマ：昨日はワンナイトでした</p>
		</div>

		<div class = "contact">
			<h2 class = "head">コンタクト</h2>
			<p>創作活動のオファー、恋愛相談、飲みのお誘い、なんでも構いません。</p>
			<p>御用があれば、以下に要件を入れて、ご送信をお願い致します！</p>
			<p>返信先を入れることをお忘れなく！</p>
			<textarea></textarea>
			<input type="submit" name="送信">
		</div>

  </div>
</div>