<div id="loader-bg">
  <div id="loader">
    <img src="assets/Loading-6fbe05b7c5cbd77dd8e98cd94130a2f813244b9fd304c0fe498c554ede89b34a.gif" width="350" alt="Now Loading..." />
  </div>
</div>

<div class="opening"><img src="assets/yumashin_logo.png"></div>

<div class="main top-main">

       <div class="top-wrapper">
       	   <div class="top-box"></div>
  	       <img src="assets/yumashin-top-word-c065dd6fc7662097c8aacbd79ab93e8c2bade4c08f7798391920f52fbf8767c3.png" class="top-img-word obj3">
  	       <img src="assets/yumashin-top-left-aeed0360cc8714a8d79f65dbd4c32b1b3c3eb948b1f2a3ddb005f163cb58c60f.png" class="top-img obj1">
  	       <img src="assets/yumashin-top-right-5e4ee9f1284d9ea2fc27a166e8a7a72a459ff4c67fa7a41eeb53a633cb5007e4.png" class="top-img obj2">
  	       <div class="box"></div>
		   <div class="under-arrow"><i class="fas fa-angle-double-down"></i></div>
        </div>

        <div class="top-contents">

        <h2 class = "head">What's "ユウマシン" ?</h2>
		<div class = "top-about content" >
			<h2 class="PC-head">What's <p>"ユウマシン" ?</p><span class="ring"></span></h2>
			<div class="PC-content">
			<h2 class="top-about-word">ニヒリズムを超えてゆけ。</h2>
			<h2 class="top-about-word">平成最後のクリエイティブユニット</h2>
            <p>多種多様な創作物を世に放つことで</p>
            <p>無気力な末人が蔓延る現代社会に警鐘を鳴らす</p>
            <p>そして空腹を感じたときにはお腹を鳴らす</p>
            <p>さらにお宅に訪問した際は呼び鈴も鳴らす</p>
            <p>そういう感じでがんばっている</p>
            <div class="andmore">
			<a href="about" class="link"><i class="fas fa-arrow-alt-circle-left"></i>And more</a>
		    </div>
		</div>
		</div>

		<h2 class = "head">News</h2>
		<div class = "top-news content">
			<div class="PC-content">
			<p style ="color:orange;">New</p>
			<p>2018.3.28  Works:『ことぶつえん』プレオープン</p>
			<p>2018.3.25  Works→Shop:新商品入荷『ユウマシン Tシャツ』</p>
			<p>2018.3.20  ユウマシン新ロゴ完成</p>
			<p>2018.3.19  Works→Shop:新商品入荷『SATORI WANKO Tシャツ』</p>
			<p>2018.3.11  開発合宿</p>
			<a href="works" class="link"><i class="fas fa-arrow-alt-circle-left"></i>Works</a>
		    </div>
			<h2 class="PC-head">News<span class="ring"></span></h2>
		</div>

        <h2 class = "head">Blog</h2>
		<div class = "top-blog content">
			<h2 class="PC-head">Blog<span class="ring"></span></h2>
			<div class="PC-content">
			 <div id="instafeed">
			 </div>
			 <a href="https://www.instagram.com/yumashin.official/" class="link" target="_blank"><i class="fas fa-arrow-alt-circle-left"></i>And more</a>
		    </div>
		</div>

<script type="text/javascript">
	$(function(){
　　var feed = new Instafeed({
    clientId: 'e09718a390c64d60b700c0cf9a802fb6',
    get:'user', 
    userId:'7348609845',
    accessToken:'7348609845.e09718a.0ba3a15c79c8487dbd0b27d399b925f2',
    links: true,
    limit: 4, // 取得件数 
    resolution:'thumbnail', // thumbnail (default) - 150x150 | low_resolution - 306x306 | standard_resolution - 612x612
    template: ' <ul><li class="col-lg-1"><a href="{{link}}" target="_blank"><img src="{{image}}"></a><p>{{caption}}</p></li></ul>' // 画像URL：{{image}} リンク：{{link}} キャプションテキスト{{caption}} いいね数：{{likes}} コメント数：{{comments}}
});
feed.run();
});
</script>

		<h2 class = "head">Contact</h2>
		<div class = "top-contact content">
			<div class="PC-content">
			<p>創作活動のオファー、恋愛相談、飲みのお誘い、なんでも構いません。</p>
			<a href="https://thebase.in/inquiry/yumashin" class="link" target="_blank"><i class="fas fa-arrow-alt-circle-left"></i>連絡をとる</a>
		    </div>
			<h2 class="PC-head">Contact<span class="ring"></span></h2>
		</div>

		</div>

  </div>
