<div id="loader-bg">
  <div id="loader">
    <img src="assets/Loading-6fbe05b7c5cbd77dd8e98cd94130a2f813244b9fd304c0fe498c554ede89b34a.gif" width="350" alt="Now Loading..." />
  </div>
</div>

<div class="opening"><img src="assets/yumashin_logo-34a065d4e0192491714277fd43e9bc9653d800cbdc354832434f92ef3f224452.png"></div>

<div class="main top-main">

       <div class="top-wrapper">
       	   <div class="top-word">
       	   <h1>YUMASHIN</h1>
       	   <div class="sub-word"><h2>Be Creative , Exceed Nihilism</h2>
       	   	</div>
       	   </div>
        </div>

        <div class="top-contents">

        <h2 class = "head">What's "ユウマシン" ?</h2>
		<div class = "top-about content" >
			<h2 class="PC-head">What's <p>"ユウマシン" ?</p><span class="ring"></span></h2>
			<div class="PC-content">
			<h2 class="top-about-word">【起こせ、そよ風レベルの革命を】</h2>
            <p>洗濯物が乾くくらいの、あの子の髪がなびくくらいの</p>
            <p>そんな変化を僕らは起こします。</p>
            <p>小さなそよ風はやがて上空へと舞い上がり</p>
            <p>地球の裏側では大きな大きな竜巻になるかもしれません。</p>
            <p>洗濯物を取り込むのは今のうちです。</p>
		</div>
		</div>
		    <div class="andmore">
			<a href="about" class="link"><i class="fas fa-arrow-alt-circle-left"></i>And more</a>
		    </div>

		<h2 class = "head">News</h2>
		<div class = "top-news content">
			<div class="PC-content">
			<p>2018.4.1  Works:『ことぶつえん』完全オープン</p>
			<p>2018.3.28  Works:『ことぶつえん』プレオープン</p>
			<p>2018.3.25  Works→Shop:新商品入荷『ユウマシン Tシャツ』</p>
			<p>2018.3.20  ユウマシン新ロゴ完成</p>
			<p>2018.3.19  Works→Shop:新商品入荷『SATORI WANKO Tシャツ』</p>
			<p>2018.3.12  HPオープン</p>
			<p>2018.3.11  開発合宿</p>
			<h2 class="PC-head">News<span class="ring"></span></h2>
		</div>
		</div>
		<a href="works" class="link"><i class="fas fa-arrow-alt-circle-left"></i>Works</a>

        <h2 class = "head">Blog</h2>
		<div class = "top-blog content">
			<h2 class="PC-head">Blog<span class="ring"></span></h2>
			<div class="PC-content">
			 <div id="instafeed">
			 </div>
		    </div>
		</div>
		<a href="https://www.instagram.com/yumashin.official/" class="link" target="_blank"><i class="fas fa-arrow-alt-circle-left"></i>And more</a>

<script type="text/javascript">
	$(function(){
　　var feed = new Instafeed({
    clientId: 'e09718a390c64d60b700c0cf9a802fb6',
    get:'user',
    userId:'7348609845',
    accessToken:'7348609845.e09718a.0ba3a15c79c8487dbd0b27d399b925f2',
    links: true,
    limit: 4, // 取得件数
    resolution:'thumbnail', // thumbnail (default) - 150x150 | low_resolution - 306x306 | standard_resolution - 612x612
    template: ' <ul><li class="col-lg-1"><a href="{{link}}" target="_blank"><img src="{{image}}"></a><p>{{caption}}</p></li></ul>' // 画像URL：{{image}} リンク：{{link}} キャプションテキスト{{caption}} いいね数：{{likes}} コメント数：{{comments}}
});
feed.run();
});
</script>

		<h2 class = "head">Contact</h2>
		<div class = "top-contact content">
			<div class="PC-content">
			<p>創作活動のオファー、恋愛相談、飲みのお誘い、なんでも構いません。</p>
		    </div>
			<h2 class="PC-head">Contact<span class="ring"></span></h2>
		</div>
		<a href="https://thebase.in/inquiry/yumashin" class="link" target="_blank"><i class="fas fa-arrow-alt-circle-left"></i>連絡をとる</a>

		</div>

  </div>
