<div class="main top-main"> 
  <div class="top-wrapper">
  	<div class="top-message">
		<h1>ユウマシン</h1>

		<div class = "about" >
			<p>ニヒリズムをぶち壊すべく現れた</p>
			<p>平成最後のクリエイティブユニット</p>
			<h2>ー『恥じらいのないパンチラに価値はあるのかい？』</h2>

		</div>

	</div>
  </div>
</div>