<div class="main top-main">
  <div class="top-wrapper">
		<h1>ユウマシン</h1>
  </div>
		<div class = "about" >
			<h2 class = "head">What's "ユウマシン" ?</h2>
			<h2>ニヒリズムを打破するべく現れた</h2>
			<h2>平成最後のクリエイティブユニット</h2>
       <p>多種多様な創作物を世に放つことで</p>
      <p>無気力な末人が蔓延る現代社会に警鐘を鳴らす</p>
      <p>そして空腹を感じたときにはお腹を鳴らす</p>
      <p>さらにお宅に訪問した際は呼び鈴も鳴らす</p>
      <p>そういう感じでがんばっている</p>

			<a href="about">→and more</a>
		</div>

		<div class = "gallery">
			<h2 class = "head">News</h2>
			<p>New</p>
			<p>2018.3.11 開発合宿</p>
			<a href="works">→Works</a>
		</div>

		<div class = "blog">
			<h2 class = "head">Blog</h2>
			<p>Comming soon...</p>
		</div>

		<div class = "contact">
			<h2 class = "head">Contact</h2>
			<p>創作活動のオファー、恋愛相談、飲みのお誘い、なんでも構いません。</p>
      <%= link_to("連絡をとる","https://thebase.in/inquiry/yumashin") %>
		</div>

  </div>
</div>
