<div class="opening">
	<img src="assets/yumashin_logo-34a065d4e0192491714277fd43e9bc9653d800cbdc354832434f92ef3f224452.png">
</div>

<div class="main">
	<div class="works">
		
		<h2 class="head">Works</h2>
		<div class="works-top">
            <div class="PC-header">
			<h2 class="PC-head">Works</h2>
		    </div>
		</div>

		<div class="works-contents">

			<div class="works-content">
			 <p style="color:orange;">New!!</p>
			 <a href="https://www.kotobutsuen.com" target="_blank"></a>
			 <img src="assets/kotobutsuentop-198bfd608a263fcac9d9afc3f2678a1771bdbed7a83db8f2c5687a22920f23a7.png">
			 <h2>ことぶつえん</h2>
			 <p>『ことばが変われば、世界も変わる』</p>
			 <p>みんなで作る新しい辞書サービス</p>
			 <p>一緒にことばについて考えようぜ！</p>
			</div>

			<div class="works-content">
			 <br>
			 <a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true" target="_blank"></a>
			 <img src="assets/yumashin_logo-bbf154fc0f2669b12f00bbc896829e088a5ee7a26d851ac0bde362ae95afe3ab.jpg">
			 <h2>Shop</h2>
			 <p>Tシャツとか作りました。</p>
			 <p>売れ無さすぎるので逆に言うと</p>
			 <p>持っているだけでプレミアです。</p>
			</div>

			<div class="works-content">
			<br>
			<a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true" target="_blank"></a>
			 <img src="assets/original_song-ec742e8523b60f278be81c2c4df9810b7c806e61298c28b0cc84aab25e490a2f.jpg">
			 <h2>オリジナルソング製作</h2>
			 <p>コード進行のパターンは3つくらいしか知りませんが</p>
			 <p>あなたのために曲を作ります。</p>
			 <p>結婚式とか誕生日で歌いましょう。</p>
			 <p>フラッシュモブとかしている場合ではありません。</p>
			</div>

			<div class="works-content">
			 <br>
			 <a href="https://www.instagram.com/nomizuno/" target="_blank"></a>
			 <img src="assets/IMG_4611-8cc5b43d4cf61cecd4bb9caf9533db045106002c7a6b1a8535a57239a4e7f253.JPG">
			 <h2>nomizunoイラスト</h2>
			 <p>珠玉のイラスト（落書き）集</p>
			 <p>あなたの”いいね”が私のモチベーションになり</p>
			 <p>社会に活力が満ち、雨が降り、</br>
			 <p>やがて肥沃な大地に草木が芽生えるでしょう。</p>
			</div>

			<div class="works-content">
			 <br>
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view" target="_blank"></a>
			 <img src="assets/acoustic_takeuchi-17cbd7b71e3ed09cffd44b4e528cfc4a29a4f0aa276604c3a9007f6a9dbf0bd4.jpg">
			 <h2>たけうち工務店の唄</h2>
			 <p>きっと元気になれます</p>
			 <br>
			</div>

			<div class="clear"></div>
		</div>
			<a href="/" class="link top-back"><i class="fas fa-arrow-alt-circle-left"></i>HOME</a>
	</div>
</div>
