<div class="main">
	<div class="works">
		<div class="works-top">
			<h2 class="head">WORKs</h2>
		</div>

		<div class="works-contents">

			<div class="works-content">
			 <p>Comming Soon...</p>
			 <img src="assets/kotobutsuentop.png">
			 <h2>ことぶつえん</h2>
			 <p>『ことばが変われば、世界も変わる』</p>
			 <p>みんなで作る新しい辞書</p>
			</div>

			<div class="works-content">
			<a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true"></a>
			 <img src="assets/original_song-ec742e8523b60f278be81c2c4df9810b7c806e61298c28b0cc84aab25e490a2f.jpg">
			 <h2>オリジナルソング製作</h2>
			 <p>結婚式、誕生日、大事な人に気持ちを伝えたい時</p>
			 <p>歌で想いを伝えてみませんか</p>
			</div>

			<div class="works-content">
			 <a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true"></a>
			 <img src="assets/yumashin_logo-bbf154fc0f2669b12f00bbc896829e088a5ee7a26d851ac0bde362ae95afe3ab.jpg">
			 <h2>Shop</h2>
			 <p>ユウマシンのオリジナルグッズ販売中</p>
			 <p>１日レンタルも出来ます</p>
			</div>

			<div class="works-content">
			 <a href="https://www.instagram.com/nomizuno/"></a>
			 <img src="assets/IMG_4611-8cc5b43d4cf61cecd4bb9caf9533db045106002c7a6b1a8535a57239a4e7f253.JPG">
			 <h2>nomizunoイラスト</h2>
			 <p>人生観に衝撃をもたらす珠玉のイラスト（落書き）集</p>
			</div>

			<div class="works-content">
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view"></a>
			 <img src="assets/acoustic_takeuchi-17cbd7b71e3ed09cffd44b4e528cfc4a29a4f0aa276604c3a9007f6a9dbf0bd4.jpg">
			 <h2>タケウチシンのソング</h2>
			 <p>きっと元気になれます</p>
			</div>

		</div>
		<a href="/" class="home-back">←HOME</a>
	</div>
</div>
