<div class="main">
	<div class="works">
		<div class="works-top">
			<h2 class="head">WORKs</h2>
		</div>

		<div class="works-contents">

			<div class="works-content">
			 <p>Comming Soon...</p>
			 <img src="assets/ことぶつえんトップ.png">
			 <h2>ことぶつえん</h2>
			 <p>『ことばが変われば、世界も変わる』</p>
			 <p>みんなで作る新しい辞書</p>
			</div>

			<div class="works-content">
			<a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true"></a>
			 <img src="assets/original_song.jpg">
			 <h2>オリジナルソング製作</h2>
			 <p>結婚式、誕生日、大事な人に気持ちを伝えたい時</p>
			 <p>歌で想いを伝えてみませんか</p>
			</div>

			<div class="works-content">
			 <a href="https://thebase.in/to_app?s=shop&shop_id=yumashin&follow=true"></a>
			 <img src="assets/yumashin_logo.jpg">
			 <h2>Shop</h2>
			 <p>ユウマシンのオリジナルグッズ販売中</p>
			 <p>１日レンタルも出来ます</p>
			</div>

			<div class="works-content">
			 <a href="https://www.instagram.com/nomizuno/"></a>
			 <img src="assets/img_gallery02.jpg">
			 <h2>nomizunoイラスト</h2>
			 <p>人生の指針となる名言があるかも</p>
			</div>

			<div class="works-content">
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view"></a>
			 <img src="assets/acoustic_takeuchi.jpg">
			 <h2>タケウチシンのソング</h2>
			 <p>きっと元気になれます</p>
			</div>

		</div>
		<a href="/" class="home-back">←HOME</a>
	</div>
</div>