<div class="main">
	<div class="works">
		<div class="works-top">
			<h2 class="head">WORKs</h2>
		</div>

		<div class="works-contents">

			<div class="works-content">
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view"></a>
			 <img src="assets/img_gallery02.jpg">
			 <p>タケウチシンの音楽制作活動</p>
			</div>

			<div class="works-content">
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view"></a>
			 <img src="assets/img_gallery02.jpg">
			 <p>タケウチシンの音楽制作活動</p>
			</div>

			<div class="works-content">
			 <a href="https:www.youtube.com/channel/UC-4YdtXq7xkEBp529nkHXfA?view"></a>
			 <img src="assets/img_gallery02.jpg">
			 <p>タケウチシンの音楽制作活動</p>
			</div>

		</div>
		<a href="/" class="home-back">←HOME</a>
	</div>
</div>