/* モバイルファースト（全環境に共通のデザイン） ================================ */
/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

h1, h2, h3, h4, h5, h6, p, div{
	margin: 0;
}

a{
  text-decoration: none;
    color: #2d3133;
    font-size: 14px;
}
body{
	margin: 0;
	position: relative;
	padding-bottom: 100px;

.main{
	padding-bottom:60px;
	width:100%;
	z-index: 0;
}
}


/* header ================================ */
.header{
  position: absolute;
  top:0;
  left:0px;
  position: fixed;
  background:rgba(34,195,80,0.5);
  width:100%;
  height: 40px;
  z-index: 10;
}
.header-logo{
		height:40px;
	    padding:0 10px 0 10px;
}
.header-menus li{
	float:left;
	transition:0.7s;
	.header-link{
		font-size:20px;
		color: white;
		display: block;
		padding:0 30px 0 30px;
		line-height:40px;
		transition:0.7s;
		&:active{
			color:rgba(34,195,80,1);
		}
		&:hover{
			color:black;
		}
		&:hover{
		background:rgba(34,195,80,1);
		color:black;
	}
	}
}
.top-box{
		height:40px;
		background-color:rgba(0,0,0,0.90);
	}
/* footer ================================ */
footer{
	height: 100px;
	width: 100%;
	background-color: black;
	position: absolute;
	bottom: 0px;
	color: white;
	padding:20px;
	.footer-menus li{
	float:left;
	transition:1.0s;
	font-size:15px;
	line-height:35px;
	.footer-link{
		color: white;
		display: block;
		padding:0 10px 0 10px;
		transition: 0.7s;
		&:hover{
			color:rgba(34,195,80,1);
		}
	}
	}
	.copy-right{
	position: absolute;
	right: 30px;
	bottom: 20px;
	font-size:10px;
	}
}
/* loading ================================ */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.opening{
	position: absolute;
	top:0;
	left:0;
	z-index: 20;
	background-color:white;
	text-align: center;
	height:100vh;
	width:100%;
	display:none;
	img{width: 80vw;
	}
}
/* top ================================ */
.head{
	font-size: 25px;
	border-bottom: solid 3px rgba(34,195,80,0.7);
	text-align: center;
    width:80%;
	margin:0 auto;
	max-width:600px;
	margin-top:10px;
	margin-bottom:20px;
}
.PC-head{
	display: none;
}
.top-wrapper{
	img{
	height:auto;
	width:58%;
	position:absolute;
	top:40;
	left:21%;
	}
	.obj1{
	position:absolute;
	left:21%;
	opacity: 1;
    }
	.obj1.change{
	position:absolute;
	left:0%;
	opacity: 0;
    }
	.obj2{
	position:absolute;
	left:21%;
	opacity: 1;
	}
	.obj2.change{
	position:absolute;
	left:42%;
	opacity: 0;
	}
	.box{
		height:0;
		padding-bottom: 47.5%;
		background-color: black;
	}
	.under-arrow{
		background-color:rgba(0,0,0,0.9);
		color:white;
		text-align: center;
		width: 100%;
		height: 60px;
		padding-top:10px;
		i{
			font-size:40px;
		}
	}
}
.top-main{
	.top-contents{
		padding-top:20px;
		margin-top:30px;
		border-top:double 5px black;
	}
	.content{
		width:80%;
		margin:0 auto;
		max-width:600px;
		text-align:left;
			}
	.top-about{
			text-align:center;
			.top-about-word{
				font-size: 30px;
		    }
		    .andmore{
			text-align: left;
		    }
	}
	.top-blog{
		#instafeed{overflow: hidden;
			ul{
			}
			li{
				float:left;
				padding:5px;
				width:150px;
				transition: 0.7s;
				text-align: center;
				img{
					height:130px;
				}
				p{
				font-size:5px;
				opacity:0;
				transition:0.5s;
				color:rgba(34,195,80,1);
				}
				&:hover p{opacity:1;}
				&:hover {border:solid 1px rgba(34,195,80,1);}
			}
		}
	}
}

.link{
	padding:5px;
	font-size: 20px;
	color:rgba(34,195,80,1);
	transition: 0.7s;
		&:hover{
			color:rgba(177,195,34,1.00);
			}
}

/* about ================================ */
.about{
	text-align: center;
	.about-content{
		padding-bottom:50px;
		width:80%;
		margin:0 auto;
		max-width:600px;
		text-align: left;
	}
	.about-top{
		text-align: center;
		h2{
			font-size:50px;
		}
	    .about-img{
		    text-align: center;
		    img{height: 400px;}
		}
	}
	.history{
		text-align: left;
		p{
			font-size:15px;
		}
		.video{
            position:relative;
            width:100%;
            padding-top:56.25%;
        }
        .video iframe{
            position:absolute;
            top:0;
            right:0;
            width:100%;
            height:100%;
        }
		h2{
			text-align: center;
		}
	}
	.members{
		text-align: center;
		.member{
			margin-bottom:30px;
		}
		.name{
			font-size:30px;
		}
		.member-photo{
			height:200px;
			border-radius: 30px;
		}
		p{
			font-size:15px;
		}
	}
}
.instagram{
	color:rgba(229,18,139,0.89);
	font-size: 20px;
	transition: 1s;
	&:hover{
		color:rgba(160,5,248,1.00);
	}
}

/* works ================================ */
.works{
	width:100%;
	text-align: center;
	.works-contents{
		height: auto;
		width:100%;
		.works-content{
			position: relative;
			text-align: center;
			padding:20px;
			border: solid 3px black;
			border-color: black;
			border-radius: 30px;
			margin:20px 2% 20px 2%;
			transition: 0.5s;
			background-color:rgba(34,195,80,0.2);
			a{
				display: block;
				position:absolute;
	            top:0;
	            left:0;
	            width:100%;
	            height:100%;
			}
			img{
				height:200px;
				width:auto;
				border: solid 1px black;
				border-radius: 20px;
				box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
				margin-bottom:30px;
			}
			h2{
				font-size:30px;
				margin-bottom:10px;
			}
			&:hover{
				background:rgba(34,195,80,0.5);
			}
		}
		.clear{
			clear:both;
		}
	}
}
.top-back a{
	    display: block;
}

/* ▼タブレット用デザインとして付け足すデザイン ================================ */
@media all and (min-width:768px){
	.works-contents{
		.works-content{
			width:46%;
			float:left;
		}
	}
}

/* ▼PC用デザインとして付け足すデザイン ================================ */
@media all and (min-width:920px){
body{
	.main{
		padding-bottom:0;
	}
}
	.head{
		display:none;
	}
	.top-main{
		width:100%;
		.PC-head{
	display:inline-block;
	font-size:100px;
	width:40%;
	text-align:center;
	line-height:100px;
	vertical-align:bottom;
	padding-bottom:30px;
	p{font-size:50px;}
		}
/*hoverアクション用*/
.PC-head{position: relative;}
  .content:hover .ring{
  background:rgba(34,195,80,0.5);
  position:absolute;
  z-index:-1;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  top:0px;
  left:200px;
  animation:pulsate 1s ease-out;
  animation-iteration-count:infinite;
  }
    @keyframes pulsate {
    0%   { transform: scale(1, 1); }
	50%  { opacity: 1; }
    100% { transform: scale(4, 4); opacity: 0.0; }
	}
    .content{
	width:100%;
    max-width:2000px;
    height:400px;
      .PC-content{
            width:59.4%;
			display:inline-block;
			color: white;
			background-color:black;
			min-height:400px;
			padding:40px 30px 30px 30px;
			transition: 3s opacity ease 0s;
		    opacity:0;
		}
	   .PC-content.change{
		   opacity:1;
		}
	}
	.top-about{
	}
	.link{
	}
}
    .about{
		.PC-header{
			background-color: black;
			line-height: 40px;
			text-align: left;
		  .PC-head{
			display:inline-block;
			color:white;
			font-size:30px;
			padding-left:20px;
		  }
		}
	}
	.works{
		.PC-header{
			background-color: black;
			line-height: 40px;
			text-align: left;
			margin-top:20px;
		  .PC-head{
			display:inline-block;
			color:white;
			font-size:30px;
			padding-left:20px;
		  }
		}
		
	}
}