/* モバイルファースト（全環境に共通のデザイン） ================================ */
/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
  text-decoration: none;
  color: #2d3133;
    font-size: 14px;
}
/* top ================================ */
.head{
	font-size: 20px;
	border-bottom: solid 3px #87CEFA;
	text-align: center;
}
.top-wrapper{
	height: 300px;
	background-image: url(/assets/https___www.pakutaso.com_shared_img_thumb_003KAZUKIHIRO171011.jpg);
	background-size:cover;
	text-align: center;
	h1{
		position: relative;
		top: 50%;
		color:aqua;
		font-size:60px;
	}
}

.about{

}
